{% extends 'base.html' %}
{% load static %}
 
 
{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Tải Lên Kết Quả Khám</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Bác sĩ chuyên khoa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Bệnh nhân {{chuoi_kham.benh_nhan.ho_ten}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Tải lên kết quả khám</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
 
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Dịch Vụ Kĩ Thuật: {{ dich_vu.ten_dvkt }}</h3>
                            </div>
                            
                        </div>
                        <!--begin::Form-->
                        <form id="upload-form">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">Tên bệnh nhân:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" placeholder="" name="" value="{{ benh_nhan.ho_ten }}" disabled />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">Tuổi:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" placeholder="" name="" value="{{ benh_nhan.tuoi }}" disabled />  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">Giới tính:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" placeholder="" name="" value="{% if benh_nhan.gioi_tinh == '1' %} Nam {% elif benh_nhan.gioi_tinh == '2' %} Nữ {% else %} Không Xác Định {% endif %}" disabled />  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">Cân nặng:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" placeholder="" name="" value="{{ benh_nhan.can_nang }}" disabled />  
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">Địa chỉ:</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" placeholder="" name="" value="{{ benh_nhan.dia_chi }}" disabled />  
                                    </div>
                                </div>

                                <div id="result">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">Mã kết quả:</label>
                                        <div class="col-lg-7">
                                            <input type="text" id="ma_ket_qua" class="form-control" placeholder="Nhập mã kết quả" name="ma_ket_qua" value="{{ma_ket_qua}}" disabled />
                                            <span class="form-text text-muted">Mã kết quả có dạng : <code>"Mã PCN" - "Tên Bệnh Nhân" - Thời gian khám</code></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">Mô tả:</label>
                                        <div class="col-lg-7">
                                            <input type="text" id="mo_ta" class="form-control" placeholder="Nhập mô tả bệnh" name="mo_ta" />       
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">Kết quả:</label>
                                        <div class="col-lg-7">
                                            <textarea class="form-control" id="ket_qua" rows="3" placeholder="Nhập kết quả của bệnh nhân" name='ket_qua'></textarea> 
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label text-lg-right">Chọn nhóm chỉ số:</label>
                                        <div class="col-lg-7">
                                            <select class="form-control selectpicker" id="selectChiSo" data-live-search="true" name="param">
                                                <option value="" selected disabled>Chọn nhóm chỉ số</option>
                                                {% for nhom in nhom_chi_so %}
                                                    <option value="{{nhom.id}}">{{nhom.ten_nhom}}</option>
                                                {% endfor %}      
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">DS Chỉ Số:</label>
                                    <div class="col-lg-7">
                                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_1"></div>
                                    </div>
                                </div>

                                <div class='data_field_section' id='data_field_section_div'>
                                    
                                </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-9">
                                        <button type="button" id='change_assignment' data-id-phan-khoa="{{id_phan_khoa}}" data-id-chuoi-kham="{{id_chuoi_kham}}" data-id-phong-chuc-nang="{{id_phong_chuc_nang}}" class="btn btn-info mr-2">Thay đổi chỉ định</button>
                                        <button type="button" id="upload" data-id-phan-khoa="{{id_phan_khoa}}" data-id-chuoi-kham="{{id_chuoi_kham}}" data-id-phong-chuc-nang="{{id_phong_chuc_nang}}" class="dropzone-upload btn btn-primary mr-2">Lưu</button>
                                        <button type="reset" class="btn btn-light-primary">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
 
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!-- end::Content -->
 
<!--begin::Thay Doi Phan Khoa Modal-->
<div id="phan_khoa_modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-5">
                <h5 class="modal-title"> 
                    <span class="d-block font-size-nm">Thay đổi chỉ định</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-custom">
                    <div class="card-body">
                        <!--begin::Search Form-->
                        <div class="mb-7">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-9">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 my-2 my-md-0">
                                            <div class="input-icon">
                                                <input type="text" class="form-control" placeholder="Tìm kiếm..." id="kt_datatable_search_query_2" />
                                                <span>
                                                    <i class="flaticon2-search-1 text-muted"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Search Form-->
                        <!--begin: Selected Rows Group Action Form-->
                        <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form_2">
                            <div class="d-flex align-items-center">
                                <div class="font-weight-bold text-success mr-3">Đã chọn 
                                <span id="kt_datatable_selected_records_2"></span> khoa khám!</div>
                            </div>
                        </div>
                        <!--end: Selected Rows Group Action Form-->
                        <!--begin: Datatable-->
                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                        <!--end: Datatable-->
                    </div>
                </div>

                <!--begin::Card-->
                <div class="card card-custom mt-7">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Bảng phân khoa</h3>
                        </div>
                    </div>
                    <div class="card-body" id='tablePhanKhoa'>
                        <!--begin: Datatable-->
                        <table class="table table-bordered table-hover table-checkable" id="kt_datatable_3" style="margin-top: 13px !important;">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Tên Dịch Vụ</td>
                                    <td>Phòng Chức Năng</td>
                                    <td>Bảo Hiểm</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <!--end: Datatable-->
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" id="printDiv" class="btn btn-light-success font-weight-bold text-uppercase float-left">In</button> {% endcomment %}

                <button type="button" class="btn btn-light-primary font-weight-bold text-uppercase" data-dismiss="modal">Hủy</button>
                <button type="button" id="btn_submit" data-id-chuoi-kham="{{ id_chuoi_kham }}" class="btn btn-primary font-weight-bold text-uppercase">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->

{% endblock content %}
 
{% block scripts %}
 
<!--begin::Global Theme Bundle(used by all pages)-->

<!--end::Global Theme Bundle-->
 
<script>
 
var lstData = [];
var lstCheckbox = {};
var list_data_2 = [];

"use strict";
// Class definition
 
var KTDropzoneDemo = function () {
 
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
 
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // Private functions

    var initDatatable = function(id) {
        var id_nhom_chi_so = id
        var el = $('#kt_datatable_1');

        var datatable = el.KTDatatable({
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: HOST_URL + '/api/danh_sach_tieu_chuan_theo_nhom/',
                        method: "GET",
                        params: {
                            'id_nhom_chi_so': id_nhom_chi_so,
                        },
                    
                    },
                    
                },
                pageSize: 10, // display 20 records per page
                serverPaging: true,
                serverFiltering: true,
                serverSorting: false,
                saveState: false,
            },

            // layout definition
            layout: {
                theme: 'default',
                scroll: false,
                height: null,
                footer: false,
            },

            // column sorting
            sortable: true,

            pagination: true,

            search: {
                input: $('#kt_datatable_search_query'),
                key: 'search'
            },

            // columns definition
            columns: [{
                field: 'id',
                title: 'STT',
                sortable: true,
                width: 30,
                textAlign: 'center',
                selector: {

                }
            }, {
                field: 'ma_chi_so',
                title: 'Mã Chỉ Số',
            }, {
                field: 'ten_chi_so',
                title: 'Tên Chỉ Số',
            }, {
                field: 'chi_tiet.chi_so_binh_thuong_min',
                title: 'Min',
            }, {
                field: 'chi_tiet.chi_so_binh_thuong_max',
                title: 'Max',
            }, {
                field: 'chi_tiet.don_vi_do',
                title: 'Đơn Vị',
            }, {
                field: 'chi_tiet.ghi_chu',
                title: 'Ghi chú',
            }, ],
        });

        $('#btn-reload').on("click", function(){
            $('#kt_datatable').KTDatatable('reload');
        })

        //$('#kt_datatable_search_type').on('change', function() {
        //    datatable.search($(this).val().toLowerCase(), 'Type');
        //});

        datatable.on('click', 'tbody input[type="checkbox"]', function () {
                $(this).toggleClass('selected');
                // console.log($(this).val())
                var objList = [];
                
                if($(this).is(":checked")){
                    var trVals = $(this).closest('tr').data();
                
                    delete trVals['row']
                
                    $(trVals).each(function () {
                        $('#data_field_section_div').append(
                            `
                                <div id='row-${trVals.obj.id}' class="data_field form-group row">
                                    <label class="col-lg-3 col-form-label text-lg-right">${trVals.obj.ten_chi_so}:</label>
                                    
                                    <div class="col-lg-5">
                                        <input type="number" step="0.001" class="evaluate_field form-control" id="${trVals.obj.id}" data-id="${trVals.obj.id}" data-name="danh_gia_${trVals.obj.ma_chi_so}" data-ma-chi-so="${trVals.obj.ma_chi_so}" data-chi-so-min=${trVals.obj.chi_tiet.chi_so_binh_thuong_min} data-chi-so-max=${trVals.obj.chi_tiet.chi_so_binh_thuong_max} placeholder="Nhập chỉ số" name="${trVals.obj.ma_chi_so}"></input> 
                                        <span class="form-text text-muted">Chỉ số : <code>${trVals.obj.chi_tiet.chi_so_binh_thuong_min} - ${trVals.obj.chi_tiet.chi_so_binh_thuong_max}</code></span>
                                        <span class="form-text text-muted">Đơn vị đo : <code> ${trVals.obj.chi_tiet.don_vi_do}</code></span>
                                        <span class="form-text text-muted">Quy định nhập : <code>Phần này chỉ được nhập số</code></span>
                                    </div>
                                    
                                    <div class="col-lg-2">
                                        <input class="judment_field form-control" placeholder="" name='danh_gia_${trVals.obj.ma_chi_so}' disabled></input> 
                                    </div>
                                </div>
                            `
                        )
                    })

                } else {
                    var trVals = $(this).closest('tr').data();
                    
                    delete trVals['row']
                    
                    $(`row-${trVals.obj.id}`).remove();
                    
                }
            });

        {% comment %} var getDataFromDatatable = function(id){
            var id = id
            var ma_chi_so = ''
            var ten_chi_so = ''
            var chi_so_binh_thuong_min = ''
            var chi_so_binh_thuong_max = ''
            var don_vi_do = ''
            var ghi_chu = ''
            ma_chi_so = datatable.getRecord(id).getColumn('ma_chi_so').getValue()
            ten_chi_so = datatable.getRecord(id).getColumn('ten_chi_so').getValue()
            chi_so_binh_thuong_min = datatable.getRecord(id).getColumn('chi_tiet.chi_so_binh_thuong_min').getValue()
            chi_so_binh_thuong_max = datatable.getRecord(id).getColumn('chi_tiet.chi_so_binh_thuong_max').getValue()
            don_vi_do = datatable.getRecord(id).getColumn('chi_tiet.don_vi_do').getValue()
            ghi_chu = datatable.getRecord(id).getColumn('chi_tiet.ghi_chu').getValue()

            console.log(ma_chi_so)

            $('#data_field_section_div').append(
                `
                    <div id='row-${id}' class="data_field form-group row">
                        <label class="col-lg-3 col-form-label text-lg-right">${ten_chi_so}:</label>
                        
                        <div class="col-lg-5">
                            <input type="number" step="0.001" class="evaluate_field form-control" id="${id}" data-id="${id}" data-name="danh_gia_${ma_chi_so}" data-ma-chi-so="${ma_chi_so}" data-chi-so-min=${chi_so_binh_thuong_min} data-chi-so-max=${chi_so_binh_thuong_max} placeholder="Nhập chỉ số" name="${ma_chi_so}"></input> 
                            <span class="form-text text-muted">Chỉ số : <code>${chi_so_binh_thuong_min} - ${chi_so_binh_thuong_max}</code></span>
                            <span class="form-text text-muted">Đơn vị đo : <code> ${don_vi_do}</code></span>
                            <span class="form-text text-muted">Quy định nhập : <code>Phần này chỉ được nhập số</code></span>
                        </div>
                        
                        <div class="col-lg-2">
                            <input class="judment_field form-control" placeholder="" name='danh_gia_${ma_chi_so}' disabled></input> 
                        </div>
                    </div>
                `
            )

            ma_chi_so = ''
            ten_chi_so = ''
            chi_so_binh_thuong_min = ''
            chi_so_binh_thuong_max = ''
            don_vi_do = ''
            ghi_chu = ''
        } {% endcomment %}

        datatable.on('datatable-on-uncheck',function(e, args) {
            var id = args.toString()
            {% comment %} var ma_chi_so = datatable.getRecord(id).getColumn('ma_chi_so').getValue()
            var ten_chi_so = datatable.getRecord(id).getColumn('ten_chi_so').getValue()
            var chi_so_binh_thuong_min = datatable.getRecord(id).getColumn('chi_tiet.chi_so_binh_thuong_min').getValue()
            var chi_so_binh_thuong_max = datatable.getRecord(id).getColumn('chi_tiet.chi_so_binh_thuong_max').getValue()
            var don_vi_do = datatable.getRecord(id).getColumn('chi_tiet.don_vi_do').getValue()
            var ghi_chu = datatable.getRecord(id).getColumn('chi_tiet.ghi_chu').getValue() {% endcomment %}

            $(`#row-${id}`).remove()
        });

    };
   
    var evaluate = function() {
        $('.data_field_section').on('keyup', '.data_field', function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                $(this).next().find('input[type=number], input[type=text]').focus();
                var evaluate_value = $(this).find('.evaluate_field').val()
                var evaluate_value_min = $(this).find('.evaluate_field').data('chi-so-min')
                var evaluate_value_max = $(this).find('.evaluate_field').data('chi-so-max')

                
                if (!isNaN(evaluate_value)) {
                    if (parseFloat(evaluate_value) >= parseFloat(evaluate_value_min) && parseFloat(evaluate_value) <= parseFloat(evaluate_value_max)){
                        $(this).find('.judment_field').css('color', 'green')
                        $(this).find('.judment_field').val("Bình Thường")
                        $(this).find('.evaluate_field').attr('data-danh-gia', '1')
                    } else {
                        $(this).find('.judment_field').css('color', 'red')
                        $(this).find('.judment_field').val("Bất Thường")
                        $(this).find('.evaluate_field').attr('data-danh-gia', '0')
                    }
                } else {
                    $(this).find('.judment_field').css('color', 'green')
                    $(this).find('.judment_field').val("Bình Thường")
                    $(this).find('.evaluate_field').attr('data-danh-gia', '1')
                }
                
            }
        });
    }

    var gather_data_and_submit = function () {
        $(document).on('click', '#upload', function() {
            var id_chuoi_kham = $(this).attr('data-id-chuoi-kham')
            var id_phan_khoa = $(this).attr('data-id-phan-khoa')
            var formData = new FormData()
            var chi_so = []

            $('#result').find('input[type=number], input[type=text]').each(function() {
                console.log($(this).attr("name"), $(this).val())
                formData.append($(this).attr("name"), $(this).val())
            })

            $('#result').find('textarea').each(function() {
                formData.append($(this).attr("name"), $(this).val())
            })

            $('.data_field_section').find('input[type=text], input[type=number]').each(function() {
                chi_so.push({
                    key: $(this).attr("name"),
                    value: $(this).val(),
                    key2: $(this).attr("data-name"),
                    value2: $(this).attr("data-danh-gia"),
                    key3: $(this).data('id')
                })
            })

            formData.append('data', JSON.stringify(chi_so))
            formData.append('id_chuoi_kham', id_chuoi_kham)
            formData.append('id_phan_khoa', id_phan_khoa)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            console.log(chi_so)

            $.ajax({
                type: "POST",
                url: "{% url 'store_ket_qua_xet_nghiem' %}", 
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response){
                    if (response.status == 200) {
                        var id_phong_chuc_nang = $("#upload-form").find("#upload").data('id-phong-chuc-nang')
                        toastr.success(response.message, "Thành Công")
                        setTimeout(function () {
                            window.location.href = '/phong_chuyen_khoa/' + id_phong_chuc_nang; //redirect về danh sách chờ lâm sàng
                        }, 1500)
                    } else if (response.status == 404) {
                        toastr.warning(response.message, "Thất Bại")
                    }
                },
                error: function(response){
                    toastr.warning("Xảy ra lỗi khi gửi dữ liệu, vui lòng kiểm tra lại", "Thất Bại")
                }
            })
            
        })
    }

    $(document).on('click', '#change_assignment', function(){
        $('#phan_khoa_modal').modal('show');
    })

    $('#phan_khoa_modal').on('shown.bs.modal', function() {
        var ajax_data;
        var id_chuoi_kham = $("#change_assignment").data('id-chuoi-kham');

        var options = {
            // datasource definition
            data: {
                type: 'remote',
                source: { 
                    read: {
                        url: HOST_URL + '/api/dich_vu_kham/',
                        method: 'GET',
                    },
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: false,
                saveState: false,
            },

            // layout definition
            layout: {
                scroll: false, // enable/disable datatable scroll both horizontal and
                footer: false // display/hide footer
            },

            // column sorting
            sortable: true,

            pagination: true,

            // columns definition
            columns: [{
                field: 'id',
                title: '#',
                sortable: false,
                width: 20,
                selector: {
                    class: 'dvkt_checkbox',
                },
                textAlign: 'center',
            }, {
                field: 'ten_dvkt',
                title: 'Tên Dịch Vụ',
                template: function(row) {
                    return row.ten_dvkt
                }
            }, {
                field: 'quyet_dinh',
                title: 'Quyết Định',
            }, {
                field: 'cong_bo',
                title: 'Công Bố',
            }, {
                field: 'bac_si_phu_trach.ho_ten',
                title: 'Bác Sĩ Phụ Trách',
                
            }, {
                field: 'phong_chuc_nang.ten_phong_chuc_nang',
                title: 'Phòng Chức Năng',
                textAlign: 'center',
                autoHide: false
            }, {
                field: 'bao hiem',
                title: 'Dùng Bảo Hiểm',
                textAlign: 'center',
                autoHide: false,
                template: function(row){
                    if(row.bao_hiem_dich_vu == "True"){
                        return '<span class="label font-weight-bold label-lg label-light-primary label-inline">Có áp dụng</span>'
                    }else{
                        return '<span class="label font-weight-bold label-lg label-light-warning label-inline">Không áp dụng</span>'
                    }
                }
            }]
        };
        // enable extension
        options.extensions = {
            // boolean or object (extension options)
            checkbox: true,
        };

        options.search = {
            input: $('#kt_datatable_search_query'),
            key: 'search'
        };
        
        var datatable = $('#kt_datatable').KTDatatable(options);
        
        $.ajax({
            type: "GET",
            url: "{% url 'danh_sach_phan_khoa_chuoi_kham' %}",
            data: {
                id_chuoi_kham : $("#change_assignment").data('id-chuoi-kham'),
            },
            dataType: 'json',
            success: function (response) {
                var response_data = response.data
                console.log(response_data)
                var tr = ''
                console.log(lstData)

                for (var i = 0; i < response_data.length; i++) {
                    var checkbox

                    if (response_data[i].obj.bao_hiem == true) {
                        checkbox = `<input type="checkbox" id="checkbox_${response_data[i].obj.id}" class="big-checkbox" checked data-checked="True" data-unchecked="False">`
                    } else {
                        checkbox = `<input type="checkbox" id="checkbox_${response_data[i].obj.id}" class="big-checkbox" data-checked="True" data-unchecked="False">`
                    }

                    var initTr = `
                        <tr id="tr_${response_data[i].obj.id}" class="${response_data[i].obj.id}" data-id = "${response_data[i].obj.id}" name="true" data-checked="True" data-unchecked="False">
                            <td>
                                ${response_data[i].obj.ma_dvkt}
                            </td>
                            <td>
                                ${response_data[i].obj.ten_dvkt}
                            </td>
                            <td>
                                ${response_data[i].obj.phong_chuc_nang.ten_phong_chuc_nang}
                            </td>
                            
                            <td>
                                ${checkbox}
                            </td>

                        </tr>
                    `
                    tr += initTr
                    lstData.push(response_data[i])
                    datatable.setActive(cell=String(response_data[i].obj.id))
                }
                $('#kt_datatable_3 tbody').html(tr)
                console.log(lstData)
            },
            error: function (response) {                       
            }
        })

        datatable.on('click', 'tbody input[type="checkbox"]', function () {
            $(this).toggleClass('selected');
            // console.log($(this).val())
            var objList = [];
            
            if($(this).is(":checked")){
                var trVals = $(this).closest('tr').data();
            
                delete trVals['row']
            
                lstData.push(trVals)
                console.log(trVals)
                console.log(lstData)
                $(trVals).each(function () {
                    $('#kt_datatable_3 tbody').append(`
                        <tr class="${trVals.obj.id}" data-id = "${trVals.obj.id}" name="true" data-checked="True" data-unchecked="False">
                            <td>
                            ${trVals.obj.ma_dvkt}
                            </td>
                            <td>
                            ${trVals.obj.ten_dvkt}
                            </td>
                            <td>
                            ${trVals.obj.phong_chuc_nang.ten_phong_chuc_nang}
                            </td>
                            <td>
                                <input type="checkbox" id="${trVals.obj.id}" class="big-checkbox" data-checked="True" data-unchecked="False">
                            </td>
                        </tr>
                    `);
                })

            } else {
                var trVals = $(this).closest('tr').data();
                
                delete trVals['row']

                $(`.${trVals.obj.id}`).remove();
                
                lstData = lstData.filter(function(item) {
                    var item = item
                    delete item['obj']['bao_hiem']
                
                    return JSON.stringify(item) !== JSON.stringify(trVals);
                });

                console.log(lstData)
            
                // replacePhanKhoaHtml(trVals)
                {% comment %} phanKhoaHtml = phanKhoaHtml.replace(`
                        <tr class="${trVals.obj.id}">
                            <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; height:28px; text-align:left; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman, serif"><span style="font-size:16px">${trVals.obj.ten_dvkt}</span></span></td>
                            <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${trVals.obj.phong_chuc_nang.ten_phong_chuc_nang}</span></span></span></td>
                            <td class="so-luong-dang-cho" colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${so_luong_dang_cho}</span></span></span></td>
                        </tr>
                        `, "") {% endcomment %}

            }
        });

        $('#kt_datatable_3').on('click', 'tbody input[type="checkbox"]', function () {
            if($(this).is(":checked")){
                lstCheckbox = {};
                getCheckbox();
                console.log(lstCheckbox);
            } else {
                lstCheckbox = {}; 
                getCheckbox();
                console.log(lstCheckbox);
            }
        })

        function postData(id_chuoi_kham){
            var id_chuoi_kham = id_chuoi_kham
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });

            $.ajax({
                type: "POST",
                url: "{% url 'thay_doi_phan_khoa' %}",
                data: {
                    'data': JSON.stringify(getPostData()),
                    'csrfmiddlewaretoken': csrftoken,
                    'id_chuoi_kham': id_chuoi_kham,
                },
                dataType: 'json',
                safe: false,
                success: function(response) {
                    if (response.status == 200) {
                        toastr.success(response.message, "Thành Công")
                        location.reload();
                    
                    } else if (response.status == 404) {
                        toastr.warning(response.message, "Lỗi")
                    }

                },
                error: function() {
                    toastr.warning("Phân Khoa Không Thành Công", "Lỗi")                                                                                                                         
                }
            });
        }

        function getPostData(){
            var rowData = lstData;
            var checkBoxObj = lstCheckbox;
            for (const each in checkBoxObj) {
                for (let i = 0; i < rowData.length; i++) {
                    if (rowData[i].obj.id == each) {
                        rowData[i].obj.bao_hiem = checkBoxObj[each];
                    }
                }
            }
            console.log(rowData);
            return rowData;
        }

        function getCheckbox(){
            
            $('#kt_datatable_3 tbody tr').each(function() {

                var sectionId = $(this).data('id');
                console.log(sectionId)

                $(this).find('input.big-checkbox:checked').each(function() {
                    console.log($(this).attr('data-checked'));
                    lstCheckbox[sectionId] = $(this).attr('data-checked');
                });

                $(this).find('input.big-checkbox:not(:checked)').each(function() {
                    lstCheckbox[sectionId] = $(this).attr('data-unchecked');
                });
            });
        }

        $("#btn_submit").on('click', function() {
            var id_chuoi_kham = $(this).data('id-chuoi-kham')
            getCheckbox();
            getPostData();
            postData(id_chuoi_kham);
        })
    })

    $("#phan_khoa_modal").on('hidden.bs.modal', function() {
        lstData = []
        $("#phan_khoa_modal").removeData('bs.modal')
        $('#kt_datatable').KTDatatable('destroy')    
    })

    var groupStandardChoiceEvent = function() {
        $('#selectChiSo').on('changed.bs.select', function(e, clickedIndex, newValue, oldValue) {
            var id_nhom_chi_so = this.value
            initDatatable(id_nhom_chi_so)
        })
    }

    return {
        // public functions
        init: function() {
            evaluate();
            gather_data_and_submit();
            groupStandardChoiceEvent();
        }
    };
}();
 
KTUtil.ready(function() {
    KTDropzoneDemo.init();
});
 
 
</script>
 
{% endblock scripts %}
 
