{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}

<!--begin::Page Vendors Styles(used by this page)-->

<!--begin::Global Theme Styles(used by all pages)-->
<link href="{% static 'assets/plugins/global/plugins.bundle9cd7.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/style.bundle9cd7.css' %} " rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<link href="{% static 'assets/css/themes/layout/header/base/light9cd7.css' %} " rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/themes/layout/header/menu/light9cd7.css' %} " rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/themes/layout/brand/dark9cd7.css' %} " rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/themes/layout/aside/dark9cd7.css' %} " rel="stylesheet" type="text/css" />
<!--end::Layout Themes-->
{% endblock stylesheet %}

{% block content %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Bác Sĩ Lâm Sàng</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="javascript:;" class="text-muted">Bệnh Nhân: {{ benh_nhan.ho_ten }}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:;" class="text-muted">Phân khoa khám</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Danh Sách Dịch Vụ Khám 
                            <span class="d-block text-muted pt-2 font-size-sm">Mã Lịch Hẹn Khám: {{ id_lich_hen }}</span>
                            <span class="d-block text-muted pt-2 font-size-sm">Tên Bệnh Nhân: {{ lich_hen.benh_nhan.ho_ten }}</span>
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <!--begin::Button-->
                        <a href="{% url 'danh_sach_benh_nhan_cho' %}" class="btn btn-light-primary font-weight-bolder">
                            <span class="svg-icon svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"/>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-12.000000, -12.000000) " x="11" y="5" width="2" height="14" rx="1"/>
                                        <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "/>
                                    </g>
                                </svg>
                            </span>
                            Quay Lại
                        </a>
                        <!--end::Button-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Search Form-->
                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-9">
                                <div class="row align-items-center">
                                    <div class="col-md-6 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Tìm kiếm..." id="kt_datatable_search_query_2" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Form-->
                    <!--begin: Selected Rows Group Action Form-->
                    <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form_2">
                        <div class="d-flex align-items-center">
                            <div class="font-weight-bold text-success mr-3">Đã chọn 
                            <span id="kt_datatable_selected_records_2"></span> khoa khám!</div>
                        </div>
                    </div>
                    <!--end: Selected Rows Group Action Form-->
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_2"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->

            <!--begin::Card-->
            <div class="card card-custom mt-7">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Bảng phân khoa</h3>
                    </div>
                </div>
                <div class="card-body" id='tablePhanKhoa'>
                    <!--begin: Datatable-->
                    <table class="table table-bordered table-hover table-checkable" id="kt_datatable_3" style="margin-top: 13px !important;">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Tên Dịch Vụ</td>
                                <td>Phòng Chức Năng</td>
                                <td>Bảo Hiểm</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>

                <div id="divPrintPhanKhoa" style="display: none;">
                    <table id='table_phan_khoa' cellspacing="0" style="border-collapse:collapse; width:802px">
                        <tbody>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap; width:202px"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">SỞ Y TẾ H&Agrave; Đ&Ocirc;NG</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:20px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:86px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:81px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:64px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:122px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:122px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:48px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:43px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:70px">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap; width:64px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">PH&Ograve;NG KH&Aacute;M ĐA KHOA MEDOTIS</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td colspan="3" style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; text-align:right; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Khoa kh&aacute;m bệnh</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td colspan="3" style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:15px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="11" style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:34px; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><strong><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Danh S&aacute;ch Ph&acirc;n Khoa</span></span></strong></span></td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Họ v&agrave; t&ecirc;n:</span></span></span></td>
                                <td colspan="5" style="border-color:initial; border-style:none; border-width:initial; vertical-align:bottom; white-space:nowrap"><strong><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{{ benh_nhan.ho_ten }}</span></span></strong></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Tuổi:</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{{benh_nhan.tuoi}}</span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Giới t&iacute;nh:</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{{benh_nhan.get_gioi_tinh}}</span></span></td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Địa chỉ:</span></span></span></td>
                                <td colspan="5" style="border-color:initial; border-style:none; border-width:initial; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{{benh_nhan.get_dia_chi}}</span></span></td>
                                <td colspan="3" style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">BS chỉ định:</span></span></span></td>
                                <td colspan="5" style="border-color:initial; border-style:none; border-width:initial; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{{ request.user.ho_ten }}</span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap"><span style="font-size:19px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Danh S&aacute;ch:</span></span></span></td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:14px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:.7px solid black; border-top:1px solid black; height:46px; text-align:center; vertical-align:middle; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px"><strong>T&ecirc;n Dịch Vụ</strong></span></span></td>
                                <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:middle; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px"><strong>Ph&ograve;ng Chức Năng</strong></span></span></td>
                                <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:middle; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman, serif"><span style="font-size:16px"><strong>Đang Chờ</strong></span></span></td>
                            </tr>
                            <tr>
                                <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; height:28px; text-align:left; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">{ten_dich_vu}</span></span></td>
                                <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">{phong_chuc_nang}</span></span></span></td>
                                <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">{dang_cho}</span></span></span></td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:21px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:27px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td colspan="5" style="border-bottom:none; border-left:none; border-right:none; border-top:none; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><strong><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Ng&agrave;y: {% now "SHORT_DATETIME_FORMAT" %}</span></span></strong></span></td>
                            </tr>
                            <tr>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; height:26px; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td style="border-bottom:none; border-left:none; border-right:none; border-top:none; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                                <td colspan="5" style="border-bottom:none; border-left:none; border-right:none; border-top:none; text-align:center; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <div class="card-toolbar text-right">
                        <!--begin::Button-->
                        <a href="javascript:;" id='printPhanKhoa' class="btn btn-light-primary font-weight-bolder" >
                            <i class="la la-plus"></i>
                            In DS Phân Khoa
                        </a>
                        <a href="javascript:;" class="btn btn-primary font-weight-bolder" id="get-table-data" data-id="{{ id_lich_hen }}" data-user-id = {{ lich_hen.benh_nhan.id }} >
                            <i class="la la-plus"></i>
                            Phân khoa khám
                        </a>
                        
                        <!--end::Button-->
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!-- end::Container -->
    </div>
    <!-- end::Entry -->
</div>
<!-- end::Content -->

{% endblock content %}

{% block scripts %}

{% comment %} <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script> {% endcomment %}
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/scripts.bundle9cd7.js' %} "></script>
<!--end::Global Theme Bundle-->

<!--begin::Custom Javascripts(used by this page)-->
<script>

"use strict";
// Class definition

function printDiv() 
{

  var divToPrint=document.getElementById('divPrintPhanKhoa');

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

  newWin.document.close();

  setTimeout(function(){newWin.close();},10);

}

var KTDatatableRecordSelectionDemo = function() {
    // Private functions

    var phanKhoaHtml = ""
    var so_luong_dang_cho = ""

    var options = {
        // datasource definition
        data: {
            type: 'remote',
            source: { 
                read: {
                    url: HOST_URL + '/router/api/dich_vu/',
                    method: 'GET',
                },
            },
            pageSize: 10,
            serverPaging: true,
            // serverFiltering: true,
            // serverSorting: true,
        },

        // layout definition
        layout: {
            scroll: false, // enable/disable datatable scroll both horizontal and
            footer: false // display/hide footer
        },

        // column sorting
        sortable: true,

        pagination: true,


        // columns definition
        columns: [{
            field: 'id',
            title: '#',
            sortable: false,
            width: 20,
            selector: {
                class: ''
            },
            textAlign: 'center',
        }, {
            field: 'ten_dvkt',
            title: 'Tên Dịch Vụ',
            template: function(row) {
                return '<a href id=' + '"' + row.id + '"' + 'data-id="' + row.id + '"' + ' class="tooltip-ajax" data-title="This is my tooltip content for:'+row.ten_dvkt+'" data-toggle="tooltip" data-trigger="hover">'+row.ten_dvkt+'</a>'
            }
        }, {
            field: 'quyet_dinh',
            title: 'Quyết Định',
        }, {
            field: 'cong_bo',
            title: 'Công Bố',
        }, {
            field: 'bac_si_phu_trach.ho_ten',
            title: 'Bác Sĩ Phụ Trách',
            
        }, {
            field: 'phong_chuc_nang.ten_phong_chuc_nang',
            title: 'Phòng Chức Năng',
            textAlign: 'center',
            autoHide: false
        }, {
            field: 'bao hiem',
            title: 'Dùng Bảo Hiểm',
            textAlign: 'center',
            autoHide: false,
            template: function(row){
                if(row.bao_hiem == true){
                    return '<span class="label font-weight-bold label-lg label-light-primary label-inline">Có áp dụng</span>'
                }else{
                    return '<span class="label font-weight-bold label-lg label-light-warning label-inline">Không áp dụng</span>'
                }
            }
        }
        ],
    };

    // basic demo
    var localSelectorDemo = function() {
        // enable extension
        options.extensions = {
            // boolean or object (extension options)
            checkbox: true,
        };

        options.search = {
            input: $('#kt_datatable_search_query'),
            key: 'generalSearch'
        };

        var datatable = $('#kt_datatable').KTDatatable(options);

        datatable.on(
            'datatable-on-check datatable-on-uncheck',
            function(e) {
                var checkedNodes = datatable.rows('.datatable-row-active').nodes();
                var count = checkedNodes.length;
                $('#kt_datatable_selected_records').html(count);
                if (count > 0) {
                    $('#kt_datatable_group_action_form').collapse('show');
                } else {
                    $('#kt_datatable_group_action_form').collapse('hide');
                }
            });

        datatable.on('mouseenter', 'tbody tr', function(){
            // alert($(this).data());
            $(this).find('[data-toggle="tooltip"]').tooltip({
                delay: 300,
                title: $(this).data().obj.Country,
                html: true,
            });

        })

        $('#kt_datatable_fetch_modal').on('show.bs.modal', function(e) {
            var ids = datatable.rows('.datatable-row-active').
            nodes().
            find('.checkbox > [type="checkbox"]').
            map(function(i, chk) {
                return $(chk).val();
            });
            console.log(ids);
        
            var c = document.createDocumentFragment();
            for (var i = 0; i < ids.length; i++) {
                var li = document.createElement('li');
                li.setAttribute('data-id', ids[i]);
                li.innerHTML = 'Selected record ID: ' + ids[i];
                c.appendChild(li);
            }
            $('#kt_datatable_fetch_display').append(c);
        }).on('hide.bs.modal', function(e) {
            $('#kt_datatable_fetch_display').empty();
        });
    };

    var serverSelectorDemo = function() {
        // enable extension
        options.extensions = {
            // boolean or object (extension options)
            checkbox: true,
        };
        options.search = {
            input: $('#kt_datatable_search_query_2'),
            key: 'generalSearch',
        };

        var datatable = $('#kt_datatable_2').KTDatatable(options);

        $('#kt_datatable_search_status_2').on('change', function() {
            datatable.search($(this).val().toLowerCase(), 'Status');
        });

        $('#kt_datatable_search_type_2').on('change', function() {
            datatable.search($(this).val().toLowerCase(), 'Type');
        });

        $('#kt_datatable_search_status_2, #kt_datatable_search_type_2').selectpicker();

        datatable.on(
            'datatable-on-click-checkbox',
            function(e) {
                var ids = datatable.checkbox().getSelectedId();
                var count = ids.length;
                $('#kt_datatable_selected_records_2').html(count);

                if (count > 0) {
                    $('#kt_datatable_group_action_form_2').collapse('show');
                } else {
                    $('#kt_datatable_group_action_form_2').collapse('hide');
                }
            });

        var lstData = [];
        var lstCheckbox = {};
        var lstQuantity = {};
        var lstUsage = {};
        var lstNote = {};

        $('#get-table-data').on('click', function (){
            var id_lich_hen = $(this).data('id');
            var user_id     = $(this).data('user-id');
            getCheckbox();
            // getPostData(user_id);
            postData(user_id, id_lich_hen);
        })

        $('#printPhanKhoa').on('click', function() {
            $('#table_phan_khoa tbody tr').each(function() {
                if ($(this).find('td').eq(0).text() == '{ten_dich_vu}'){
                    $(this).replaceWith(phanKhoaHtml) 
                }
            })
            
            printDiv()
        })

        var get_funcroom_info = function(data) {
            $.ajax({
                url: HOST_URL + "/api/funcroom_info/",
                type: 'GET',  // http method
                data: {'id': data.obj.id},
                dataType: 'json',
                success: function (response) {

                    phanKhoaHtml += `
                        <tr class="${data.obj.id}" >
                            <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; height:28px; text-align:left; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">${data.obj.ten_dvkt}</span></span></td>
                            <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${data.obj.phong_chuc_nang.ten_phong_chuc_nang}</span></span></span></td>
                            <td class="so-luong-dang-cho" colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${response.dang_cho}</span></span></span></td>
                        </tr>
                       
                    `
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log('Error' + errorMessage);
                }
            });
        }

        var replacePhanKhoaHtml = function(data) {
            $.ajax({
                url: HOST_URL + "/api/funcroom_info/",
                type: 'GET',  // http method
                data: {'id': data.obj.id},
                dataType: 'json',
                success: function (response) {
                    phanKhoaHtml = phanKhoaHtml.replace(`
                        <tr class="${data.obj.id}" >
                            <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; height:28px; text-align:left; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman,serif"><span style="font-size:16px">${data.obj.ten_dvkt}</span></span></td>
                            <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${data.obj.phong_chuc_nang.ten_phong_chuc_nang}</span></span></span></td>
                            <td class="so-luong-dang-cho" colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${response.dang_cho}</span></span></span></td>
                        </tr>
                       
                    `, "")
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log('Error' + errorMessage);
                }
            });
        }


    
        datatable.on('click', 'tbody input[type="checkbox"]', function () {
            $(this).toggleClass('selected');
            // console.log($(this).val())
            var objList = [];
            
            if($(this).is(":checked")){
                var trVals = $(this).closest('tr').data();
                
                lstData.push(trVals)

                console.log(lstData)
                get_funcroom_info(trVals)

                $(trVals).each(function () {

                    $('#kt_datatable_3 tbody').append(`
                        <tr class="${trVals.obj.id}" data-id = "${trVals.obj.id}" name="true" data-checked="True" data-unchecked="False">
                            <td>
                            ${trVals.obj.ma_dvkt}
                            </td>
                            <td>
                            ${trVals.obj.ten_dvkt}
                            </td>
                            <td>
                            ${trVals.obj.phong_chuc_nang.ten_phong_chuc_nang}
                            </td>
                            {% comment %} <td>
                            ${trVals.obj.bac_si_phu_trach.ho_ten}
                            </td> {% endcomment %}
                            <td>
                                <input type="checkbox" id="${trVals.obj.id}" class="big-checkbox" data-checked="True" data-unchecked="False">
                            </td>
                
                        </tr>
                    `);

                    
                })

            } else {
                var trVals = $(this).closest('tr').data();
                $(`.${trVals.obj.id}`).remove();
                lstData = lstData.filter((item) => item!==trVals)
                replacePhanKhoaHtml(trVals)
                {% comment %} phanKhoaHtml = phanKhoaHtml.replace(`
                        <tr class="${trVals.obj.id}">
                            <td colspan="4" rowspan="1" style="border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black; border-top:1px solid black; height:28px; text-align:left; vertical-align:bottom; white-space:nowrap"><span style="color:#000000; font-family:Times New Roman, serif"><span style="font-size:16px">${trVals.obj.ten_dvkt}</span></span></td>
                            <td colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${trVals.obj.phong_chuc_nang.ten_phong_chuc_nang}</span></span></span></td>
                            <td class="so-luong-dang-cho" colspan="7" rowspan="1" style="border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px solid black; text-align:center; vertical-align:bottom; white-space:nowrap"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">${so_luong_dang_cho}</span></span></span></td>
                        </tr>
                        `, "") {% endcomment %}

            }
        })

        $('#kt_datatable_3').on('click', 'tbody input[type="checkbox"]', function () {
            if($(this).is(":checked")){
                lstCheckbox = {};
                getCheckbox();
                console.log(lstCheckbox);
            } else {
                lstCheckbox = {}; 
                getCheckbox();
                console.log(lstCheckbox);
            }
        })

        function postData(user_id, id_lich_hen){
            var user_id = user_id
            var id_lich_hen = id_lich_hen

            console.log(id_lich_hen)
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });

            $.ajax({
                type: "POST",
                url: "{% url 'store_phan_khoa' %}",
                data: {
                    // here data should be a string so that
                    // in your views.py you can fetch the value using get('data')
                    'data': JSON.stringify(getPostData(user_id)),
                    'csrfmiddlewaretoken': csrftoken,
                    'user': user_id,
                    'id_lich_hen' : id_lich_hen
                },
                dataType: 'json',
                safe: false,
                success: function(response) {
                    if (response.status == 200) {
                        toastr.success(response.message, "Thành Công")
                        setTimeout(function () {
                            window.location.href = response.url; //redirect về danh sách chờ lâm sàng
                        }, 2000);
                    } else if (response.status == 404) {
                        toastr.warning(response.message, "Lỗi")
                    }
                     //sau 2 giây (1000 = 1s)
                },
                error: function() {
                    toastr.warning("Phân Khoa Không Thành Công", "Lỗi")                                                                                                                         
                }
            });
        }

        function getPostData(user_id, id_lich_hen){
            var user_id = user_id
            var id_lich_hen = id_lich_hen
            console.log(user_id)
            var rowData = lstData;
            var checkBoxObj = lstCheckbox;
            for (const each in checkBoxObj) {
                for (let i = 0; i < rowData.length; i++) {
                    if (rowData[i].obj.id == each) {
                        rowData[i].obj.bao_hiem = checkBoxObj[each];
                        rowData[i].obj.benh_nhan = user_id;
                    }
                }
            }
            console.log(rowData)
            return rowData;
        }

        function getCheckbox(){
            
            $('#kt_datatable_3 tbody tr').each(function() {

                var sectionId = $(this).data('id');
                console.log(sectionId)

                $(this).find('input.big-checkbox:checked').each(function() {
                    console.log($(this).attr('data-checked'));
                    lstCheckbox[sectionId] = $(this).attr('data-checked');
                });

                $(this).find('input.big-checkbox:not(:checked)').each(function() {
                    lstCheckbox[sectionId] = $(this).attr('data-unchecked');
                });
            });
        }

        $('#kt_datatable_fetch_modal_2').on('show.bs.modal', function(e) {
            var ids = datatable.checkbox().getSelectedId();
            
            var recordID = [];
            var c = document.createDocumentFragment();
            for (var i = 0; i < ids.length; i++) {
                var li = document.createElement('li');
                li.setAttribute('data-id', ids[i]);
                li.innerHTML = 'Selected record ID: ' + ids[i];
                c.appendChild(li);
            }

            $('#kt_datatable_fetch_display_2').append(c);
        }).on('hide.bs.modal', function(e) {
            $('#kt_datatable_fetch_display_2').empty();
        });

        
    };

    return {
        // public functions
        init: function() {
            serverSelectorDemo();
        },
    };
}();

jQuery(document).ready(function() {
    KTDatatableRecordSelectionDemo.init();
});


</script>
<!--end::Custom Javascripts-->

{% endblock scripts %}