{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Thông Tin Phòng Khám</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Thông Tin Phòng Khám
                        </h3>
                    </div>
                    {% comment %} <div class="card-toolbar">
                        <!-- begin::Button -->
                        <a href="javascript:;" class="btn btn-light-primary font-weight-bolder mr-2" id="btn-them-benh-nhan">
                            <span class="svg-icon svg-icon-sm">
                                <svg xmlns="http:www.w3.org/2000/svg" xmlns:xlink="http:    www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                            </span>
                            Thêm Phòng Khám Mới
                        </a>
                        <!-- end::Button -->
                    </div> {% endcomment %}
                </div>
                <div class="card-body">
                    {% comment %} <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-12">
                                <div class="row">
                                    <div class="col-md-5 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Tìm Kiếm..." id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <!--end::Daterange-->
                        </div>
                        <!--begin::Daterange-->
                    </div>
                    <!--end::Search Form--> {% endcomment %}
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<!-- Register Modal-->
<div class="modal fade" id="registerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form id="form_register">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon-user-add text-primary"></i></div>
                                <div class="alert-text font-weight-bolder">
                                    Đăng Kí Tài Khoản
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Họ Tên <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputNameModal"  placeholder="Nhập Đầy Đủ Họ Tên Của Bạn"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Số Điện Thoại <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputPhoneModal"  placeholder="Nhập Số Điện Thoại"/>
                                <span class="form-text text-muted" >Chúng tôi sẽ không chia sẻ dữ liệu này với bất kì ai</span>
                                <span class="text-success" id="success_phone"></span>
                                <span class="text-warning" id="error_phone"></span>    
                            </div>
                            <div class="col-lg-6">
                                <label for="inputPasswordModal">Mật khẩu <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="inputPasswordModal" placeholder="Nhập mật khẩu"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>CMND/CCCD <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputCmtModal" placeholder="Nhập CMND/CCCD"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Ngày sinh</label>
                                <input class="form-control" id="inputNgaySinhModal" type="text" />
                                <span class="form-text text-muted">Nhập ngày sinh dạng: 
                                <code>ngày/tháng/năm</code></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label>Giới tính</label>
                                <div class="radio-inline">
                                    <label class="radio">
                                        <input type="radio" name="radio" class="inputGioiTinhModal" value="Nữ" />
                                        <span></span>Nữ
                                    </label>
                                    <label class="radio">
                                        <input type="radio" checked name="radio" class="inputGioiTinhModal" value="Nam" />
                                        <span></span>Nam
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label>Dân tộc <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputDanTocModal" placeholder="Nhập dân tộc của bệnh nhân"/>
                            </div>
                            <div class="col-lg-6">
                                <label>Mã số bảo hiểm <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="inputMaSoBaoHiemModal" placeholder="Nhập mã số bảo hiểm của bệnh nhân"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="inputDiaChiModal" placeholder="Địa chỉ người dùng" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="registerModalSubmit btn btn-primary font-weight-bold">Tạo Tài Khoản</button>
            </div>     
        </div>
    </div>
</div>

<!-- Modal Thêm Lịch Hẹn Khám -->
<div class="modal fade" id="addLichHenKham" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Mới Lịch Hẹn Khám</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="formLichHen">
                    <div class="card-body">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="flaticon2-calendar-6 text-primary"></i></div>
                                <div class="alert-text">
                                    Thêm Lịch Hẹn Khám
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Bệnh Nhân</label>
                            <span class="input-group-text" id="ten_benh_nhan"></span>
                        </div>
                        <div class="form-group" id="thongTinBenhNhan"></div>
                        <div class="form-group">
                            <label>Chọn Dịch Vụ Khám <span class="text-danger">*</span></label>
                            <select id="selectDichVuKham" class="form-control selectpicker">
                                <option value="kham_chua_benh" selected>Khám Chữa Bệnh</option>
                                <option value="kham_sua_khoe">Khám Sức Khỏe</option>
                            </select>
                        </div>
                        <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                            <input type="text" id="inputLichHenKham" class="form-control datetimepicker-input" placeholder="Chọn thời gian bắt đầu" data-target="#kt_datetimepicker_1"/>
                            <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                <span class="input-group-text">
                                    <i class="ki ki-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            <label>Lý Do Đến Khám</label>
                            <textarea class="form-control" id="ly_do" rows="3" placeholder="Nhập triệu chứng/lý do khám của bệnh nhân"></textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                        <button type="button" id="addLichSubmit" class="btn btn-primary font-weight-bold">Tạo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
{% comment %} <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script> {% endcomment %}
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/scripts.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker9cd7.js' %} "></script>
<script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-datepicker9cd7.js' %} "></script>
<script src="{% static 'assets/js/excelexportjs.js' %} "></script>
<!--end::Global Theme Bundle-->
{% comment %} <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script> {% endcomment %}
{% comment %} <script src="{% static 'assets/js/pages/crud/ktdatatable/base/data-ajax9cd7.js' %} "></script> {% endcomment %}
<script>

"use strict";
// Class definition

var KTDatatableRemoteAjaxDemo = function() {
    // Private functions
    //set global data

    let globalData = null;
    // basic demo
    var demo = function() {
        
        var datatable = $('#kt_datatable').KTDatatable({
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: HOST_URL + '/api/danh_sach_phong_kham/',
                        method: 'GET',
                        // sample custom headers
                        // headers: {'x-my-custom-header': 'some value', 'x-test-header': 'the value'},
                        map: function(raw) {
                            // sample data mapping
                            var dataSet = raw;
                            if (typeof raw.data !== 'undefined') {
                                dataSet = raw.data;
                            }
                            globalData = null;
                            globalData = dataSet;
                            console.log(dataSet)
                            return dataSet;
                        }
                    },
                },
                pageSize: 10,
                serverPaging: true,
                // serverFiltering: true,
                //serverSorting: true,
            },

            // layout definition
            layout: {
                scroll: true,
                footer: false,
            },

            // column sorting
            sortable: true,

            pagination: true,

            search: {
                input: $('#kt_datatable_search_query'),
                key: 'generalSearch'
            },

            // columns definition
            columns: [
            {% comment %} {
                field: 'id',
                title: 'Mã',
                sortable: 'asc',
                width: 30,
                type: 'number',
                selector: false,
                textAlign: 'center',
            }, {% endcomment %}
             {
                field: 'ten_phong_kham',
                title: 'Tên Phòng Khám',
            }, {
                field: 'dia_chi',
                title: 'Địa Chỉ',
            }, {
                field: 'so_dien_thoai',
                title: 'Số Điện Thoại',
            }, {
                field: 'email',
                title: 'Email',
                template: function(row) {
                    if (!row.email) {
                        return '<span class="label font-weight-bold label-lg label-light-warning label-inline">Chưa có thông tin</span>'
                    } else {
                        return row.email
                    }
                }
            }, {
                field: 'chu_khoan',
                title: 'Chủ Khoản',
                template: function(row) {
                    if (!row.chu_khoan) {
                        return '<span class="label font-weight-bold label-lg label-light-warning label-inline">Chưa có thông tin</span>'
                    } else {
                        return row.chu_khoan
                    }
                }
            }, {
                field: 'update',
                title: 'Chỉnh Sửa',
                sortable: false,
                width: 60,
                textAlign: 'center',
                autoHide: false,
                template: function(row) {
                    return `
                        <a href="/cap_nhat_thong_tin_phong_kham/${row.id}" class="btn btn-lg btn-clean btn-icon" title="Chỉnh sửa thông tin phòng khám">
                            <i class="la la-edit icon-lg text-primary"></i>
                        </a>
                    `;
                },
            }],

        });
    };

    return {
        init: function() {
            demo();
        },
    };
}();

jQuery(document).ready(function() {
    KTDatatableRemoteAjaxDemo.init();
});
</script>

{% endblock scripts %}

