{% extends 'base.html' %}

{% load static %}
{% block content %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Hóa Đơn Thuốc</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Bệnh nhân: {{don_thuoc.benh_nhan.ho_ten}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Hóa đơn thuốc</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <!-- begin: Invoice-->
                <div class="card-body p-0">

                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div id='hoa_don_thuoc'>
                            {{mau_hoa_don_thuoc.noi_dung|safe}}
                        </div>
                    </div>

                </div>
                <!-- end: Invoice-->
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-primary font-weight-bold" onclick="printDiv('hoa_don_thuoc')">In Hóa Đơn</button>
                            
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    {% if don_thuoc.check_tphtdt %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid mt-5">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <!-- begin: Invoice-->
                <div class="card-body p-0">
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div class="col-md-12" id='hoa_don_thuc_pham_ho_tro_dieu_tri'>
                            {{mau_hoa_don_tphtdt.noi_dung|safe}}
                        </div>
                    </div>

                </div>
                <!-- end: Invoice-->
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-light-primary font-weight-bold" onclick="printDiv('hoa_don_thuc_pham_ho_tro_dieu_tri')">In Hóa Đơn</button>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    {% endif %}
</div>
<!--end::Content-->
{% if check_da_thanh_toan == True %}
{% else %}
<div class="d-flex flex-column-fluid mt-5 mb-5">
    <div class='container'>
        <!-- begin::Card-->
        <div class="card card-custom overflow-hidden">
            <div class="card-body p-0">
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn font-weight-bold"></button>
                            <button id="button-payment" data-tong-tien="{{tong_tien_thanh_toan}}" data-id="{{ id_don_thuoc }}" type="button" class="btn btn-primary font-weight-bold">Thanh Toán</button>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
            </div>
        </div>
    </div>
</div>
{% endif%}

{% endblock content %}

{% block scripts %}

<script>
    var flag = "{{ flag|safe }}"

    $('#button-payment').on('click', function(){
        var id_don_thuoc = $(this).attr('data-id')
        var tong_tien = $(this).attr('data-tong-tien')
        console.log(tong_tien)
        $.ajax({
            type: "GET",
            url: "{% url 'thanh_toan_don_thuoc_api' %}",
            data: {
                'id': id_don_thuoc,
                'tong_tien': tong_tien,
            },
            dataType: 'json',
            safe: false,
            success: function (response) {
                if (response.status == 200) {
                    toastr.success(response.message, "Thành Công")

                    setTimeout(function () {
                        window.location.href = '/phong_tai_chinh/'; 
                    }, 1500);

                } else if (response.status == 404) {
                    toastr.warning(response.message, "Xảy Ra Lỗi")
                }
            },
            error: function (e) {
                toastr.warning(e, "Xảy Ra Lỗi")
                                                                                                                         
            }
        });
        
    })

    function printDiv(hoa_don_thuoc){
        var printContents = document.getElementById(hoa_don_thuoc).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    $(document).ready(function() {
        initHoaDonThuoc()
        if (flag == 'True') {
            initHoaDonThucPhamHoTroDieuTri()
        }
    })

    var initHoaDonThuoc = function() {
        var data_thoi_gian = ''
        var data_so_dien_thoai = ''
        var data_dia_chi = ''
        var data_thuoc = ''
        var data_tong_tien = ''
        var data_bao_hiem = ''
        var data_thanh_toan = ''
        var data_nguoi_thuc_hien = ''
        var thoi_gian_thanh_toan = "{{ thoi_gian_thanh_toan|safe }}"
        var benh_nhan = "{{ benh_nhan|safe }}"
        var so_dien_thoai = "{{ so_dien_thoai|safe }}"
        var dia_chi = "{{ dia_chi|safe }}"
        var danh_sach_thuoc = {{ danh_sach_thuoc|safe }}
        var danh_sach_bao_hiem_thuoc = {{ danh_sach_bao_hiem_thuoc|safe }}
        var danh_sach_don_gia_thuoc = {{ danh_sach_don_gia_thuoc|safe }}
        var danh_sach_so_luong_thuoc = {{ danh_sach_so_luong_thuoc|safe }}
        var danh_sach_don_vi_tinh_thuoc = {{ danh_sach_don_vi_tinh_thuoc|safe }}
        var danh_sach_thanh_tien_thuoc = {{ danh_sach_thanh_tien_thuoc|safe }}
        var tong_tien_thuoc_str = "{{ tong_tien_thuoc_str|safe }}"
        var bao_hiem_thuoc_str = "{{ bao_hiem_thuoc_str|safe }}"
        var thanh_toan_thuoc_str = "{{ thanh_toan_thuoc_str|safe }}"
        var nguoi_thuc_hien = "{{ nguoi_thuc_hien|safe }}"


        $('#hoa_don_thuoc table tbody tr').each(function(){
            if($(this).find('td').eq(0).text() == '{thoi_gian_thanh_toan}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_thoi_gian += c.replace(/{thoi_gian_thanh_toan}/, thoi_gian_thanh_toan).replace(/{benh_nhan}/, benh_nhan)

                $(this).replaceWith(data_thoi_gian)
            }

            if($(this).find('td').eq(1).text() == '{so_dien_thoai}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_so_dien_thoai += c.replace(/{so_dien_thoai}/, so_dien_thoai)

                $(this).replaceWith(data_so_dien_thoai)
            }

            if($(this).find('td').eq(1).text() == '{dia_chi}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_dia_chi += c.replace(/{dia_chi}/, dia_chi)

                $(this).replaceWith(data_dia_chi)
            }

            if($(this).find('td').eq(0).text() == '{ten_thuoc}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                for (var i = 0; i < danh_sach_thuoc.length; i++) {
                    data_thuoc += c.replace(/{ten_thuoc}/, danh_sach_thuoc[i]).replace(/{bao_hiem}/, danh_sach_bao_hiem_thuoc[i]).replace(/{don_gia}/, danh_sach_don_gia_thuoc[i]).replace(/{so_luong}/, danh_sach_so_luong_thuoc[i]).replace(/{don_vi}/, danh_sach_don_vi_tinh_thuoc[i]).replace(/{thanh_tien}/, danh_sach_thanh_tien_thuoc[i])
                }

                $(this).replaceWith(data_thuoc)
            }

            if($(this).find('td').eq(3).text() == '{tong_tien}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_tong_tien += c.replace(/{tong_tien}/, tong_tien_thuoc_str)

                $(this).replaceWith(data_tong_tien)
            }

            if($(this).find('td').eq(3).text() == '{tong_tien_bao_hiem}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_bao_hiem += c.replace(/{tong_tien_bao_hiem}/, bao_hiem_thuoc_str)

                $(this).replaceWith(data_bao_hiem)
            }

            if($(this).find('td').eq(3).text() == '{tien_thanh_toan}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_thanh_toan += c.replace(/{tien_thanh_toan}/, thanh_toan_thuoc_str)

                $(this).replaceWith(data_thanh_toan)
            }

            if($(this).find('td').eq(2).text() == '{nguoi_thanh_toan}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_nguoi_thuc_hien += c.replace(/{nguoi_thanh_toan}/, nguoi_thuc_hien)

                $(this).replaceWith(data_nguoi_thuc_hien)
            }
        })
    }

    var initHoaDonThucPhamHoTroDieuTri = function() {
        var data_thoi_gian = '';
        var data_so_dien_thoai = '';
        var data_dia_chi = '';
        var data_thuc_pham_chuc_nang = '';
        var data_tong_tien = ''
        var data_bao_hiem = ''
        var data_thanh_toan = ''
        var data_nguoi_thuc_hien = ''
        var thoi_gian_thanh_toan = "{{ thoi_gian_thanh_toan|safe }}";
        var benh_nhan = "{{ benh_nhan|safe }}";
        var so_dien_thoai = "{{ so_dien_thoai|safe }}";
        var dia_chi = "{{ dia_chi|safe }}";
        var danh_sach_thuc_pham_chuc_nang = {{ danh_sach_thuc_pham_chuc_nang|safe }};
        var danh_sach_bao_hiem_thuc_pham_cn = {{ danh_sach_bao_hiem_thuc_pham_cn|safe }};
        var danh_sach_don_gia_thuc_pham_cn = {{ danh_sach_don_gia_thuc_pham_cn|safe }}
        var danh_sach_so_luong_thuc_pham_cn = {{ danh_sach_so_luong_thuc_pham_cn|safe }}
        var danh_sach_don_vi_tinh_thuc_pham_cn = {{ danh_sach_don_vi_tinh_thuc_pham_cn|safe }}
        var danh_sach_thanh_tien_thuc_pham_cn = {{ danh_sach_thanh_tien_thuc_pham_cn|safe }}
        var tong_tien_thuc_pham_cn_str = "{{tong_tien_thuc_pham_cn_str|safe}}"
        var bao_hiem_thuc_pham_cn_str = "{{ bao_hiem_thuc_pham_cn_str|safe }}"
        var thanh_toan_thuc_pham_cn_str = "{{ thanh_toan_thuc_pham_cn_str|safe }}"
        var nguoi_thuc_hien = "{{ nguoi_thuc_hien|safe }}"

        $('#hoa_don_thuc_pham_ho_tro_dieu_tri table tbody tr').each(function(){
            if($(this).find('td').eq(0).text() == '{thoi_gian_thanh_toan}'){
    
                var innerHtml = $(this).html();
                var start_tr = '<tr>';
                var end_tr = '</tr>';
                var c = start_tr + innerHtml + end_tr;

                data_thoi_gian += c.replace(/{thoi_gian_thanh_toan}/, thoi_gian_thanh_toan).replace(/{benh_nhan}/, benh_nhan);

                $(this).replaceWith(data_thoi_gian);
            }

            if($(this).find('td').eq(1).text() == '{so_dien_thoai}'){

                var innerHtml = $(this).html();
                var start_tr = '<tr>';
                var end_tr = '</tr>';
                var c = start_tr + innerHtml + end_tr;

                data_so_dien_thoai += c.replace(/{so_dien_thoai}/, so_dien_thoai);

                $(this).replaceWith(data_so_dien_thoai);
            }

            if($(this).find('td').eq(1).text() == '{dia_chi}'){

                var innerHtml = $(this).html();
                var start_tr = '<tr>';
                var end_tr = '</tr>';
                var c = start_tr + innerHtml + end_tr;

                data_dia_chi += c.replace(/{dia_chi}/, dia_chi);

                $(this).replaceWith(data_dia_chi);
            }

            if($(this).find('td').eq(0).text() == '{ten_thuoc}'){
                console.log($(this).html());
                var innerHtml = $(this).html();
                var start_tr = '<tr>';
                var end_tr = '</tr>';
                var c = start_tr + innerHtml + end_tr;

                for (var i = 0; i < danh_sach_thuc_pham_chuc_nang.length; i++) {
                    data_thuc_pham_chuc_nang += c.replace(/{ten_thuoc}/, danh_sach_thuc_pham_chuc_nang[i]).replace(/{bao_hiem}/, danh_sach_bao_hiem_thuc_pham_cn[i]).replace(/{don_gia}/, danh_sach_don_gia_thuc_pham_cn[i]).replace(/{so_luong}/, danh_sach_so_luong_thuc_pham_cn[i]).replace(/{don_vi}/, danh_sach_don_vi_tinh_thuc_pham_cn[i]).replace(/{thanh_tien}/, danh_sach_thanh_tien_thuc_pham_cn[i])
                }

                $(this).replaceWith(data_thuc_pham_chuc_nang);
            }

            if($(this).find('td').eq(3).text() == '{tong_tien}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_tong_tien += c.replace(/{tong_tien}/, tong_tien_thuc_pham_cn_str)

                $(this).replaceWith(data_tong_tien)
            }

            if($(this).find('td').eq(3).text() == '{tong_tien_bao_hiem}'){

                var innerHtml = $(this).html();
                var start_tr = '<tr>';
                var end_tr = '</tr>';
                var c = start_tr + innerHtml + end_tr;

                data_bao_hiem += c.replace(/{tong_tien_bao_hiem}/, bao_hiem_thuc_pham_cn_str);

                $(this).replaceWith(data_bao_hiem);
            }

            if($(this).find('td').eq(3).text() == '{tien_thanh_toan}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_thanh_toan += c.replace(/{tien_thanh_toan}/, thanh_toan_thuc_pham_cn_str)

                $(this).replaceWith(data_thanh_toan)
            }

            if($(this).find('td').eq(2).text() == '{nguoi_thanh_toan}'){
                console.log($(this).html())
                var innerHtml = $(this).html()
                var start_tr = '<tr>'
                var end_tr = '</tr>'
                var c = start_tr + innerHtml + end_tr

                data_nguoi_thuc_hien += c.replace(/{nguoi_thanh_toan}/, nguoi_thuc_hien)

                $(this).replaceWith(data_nguoi_thuc_hien)
            }
        })
    }
</script>
{% endblock scripts %}